*.docx filter=lfs diff=lfs merge=lfs -text
*.drawio filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.xmcd filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.jks filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/.bin/nodemon filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/.bin/nodetouch filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/.bin/nopt filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/.bin/semver filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/abbrev/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/anymatch/LICENSE filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/binary-extensions/license filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/brace-expansion/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/braces/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/chokidar/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/concat-map/LICENSE filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/fill-range/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/glob-parent/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/has-flag/license filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/ignore-by-default/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/is-binary-path/license filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/is-extglob/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/is-glob/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/is-number/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/lru-cache/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/minimatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/nodemon/LICENSE filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/nopt/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/normalize-path/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/picomatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/pstree.remy/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/pstree.remy/tests/fixtures/out1 filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/pstree.remy/tests/fixtures/out2 filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/readdirp/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
*.bnf filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/simple-update-notifier/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/supports-color/license filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/to-regex-range/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/touch/LICENSE filter=lfs diff=lfs merge=lfs -text
*.jscsrc filter=lfs diff=lfs merge=lfs -text
*.jshintrc filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/undefsafe/LICENSE filter=lfs diff=lfs merge=lfs -text
/ПВИ/laba1/node_modules/yallist/LICENSE filter=lfs diff=lfs merge=lfs -text
